.inline-block{
    display: inline-block;
    vertical-align: top;
    
}

.logo{
    width: 20%;
    padding: 0%;

}

.Aboutme{
    text-align: center;
    font-family: "TS Block";
    padding: 2%;
    font-size: 30px;
}

.heroImg{
    height: 1000px;
    padding: 0px;
    float: center;
    text-align: right;
            
}

.content{
    width: 1160px;
    margin: 0 auto;
    float: center;
    text-align: left;
    font-family: "TS Block";
    font-size: 20px;
    
}

.Skills{
    width: 900px;
    margin: 0 auto;
   

}

.left {
    float: left;
    padding: 0 150px 0 0;
   
}

nav{
    width: 68%;
    padding: 5%;
    font-family: "TS Block";
    font-size: 22px;
    color: #2b2b2b;
    position: absolute;
    right: -300px;
    
    
    
}

h1 {
    color: #2b2b2b;
}

ul{
    width: 100%;
    
    
    
}

body{
    background-color: #FAF8F4;
    color: #7C7C79;

}

footer{
    background-color: #FAF8F4;
    width: 100%;
    padding: 0%;
    text-align: center;
    font-family: "TS Block";
    color: #2b2b2b;
    
}

footer > ul {
    text-align: center;
    display: inline-block; 

    
    
}
@font-face {
    font-family: "TS-Block";
    src: url(/Users/Gavin/Desktop/MyCode/EGavinG.github.io/EGavinG.github.io/font/TS_Block_Bold_copy.ttf) format("opentype");

}

